	<div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
						<!-- logo -->
						<div class="site-logo">
							<a href="index.html">
								<img src="assets/img/logo.png" alt="">
							</a>
						</div>
						<!-- logo -->

						<!-- menu start -->
						<nav class="main-menu">
							<ul>
								<li class="current-list-item"><a th:href="@{/home}">Home</a>
									
								</li>
								<li><a th:href="@{/about}">About</a></li>
								<li><a href="#">Pages</a>
									<ul class="sub-menu">
										<li><a th:href="@{/error}">404 page</a></li>
										<li><a th:href="@{/cart}">Cart</a></li>
										<li><a th:href="@{/checkout}">Check Out</a></li>
										<li><a th:href="@{/contact}">Contact</a></li>
										<li><a th:href="@{/new}">News</a></li>
										<li><a th:href="@{/product}">Shop</a></li>
									</ul>
								</li>
								<!-- <li><a href="news.html">News</a>
									<ul class="sub-menu">
										<li><a th:href="@{/new}">News</a></li>
										<li><a th:href="@{/single-new}">Single News</a></li>
									</ul>
								</li>
								<li><a th:href="@{/contact}">Contact</a></li>
								<li><a  th:href="@{/product}">Shop</a>
									<ul class="sub-menu">
										<li><a th:href="@{/product}">Shop</a></li>
										<li><a th:href="@{/checkout}">Check Out</a></li>
										<li><a th:href="@{/detail_product}">Single Product</a></li>
										<li><a th:href="@{/cart}">Cart</a></li>
									</ul>
								</li> -->
								<li>
									<div class="header-icons">
										<a class="shopping-cart" th:href="@{/cart}"><i class="fas fa-shopping-cart"></i></a>
										<a class="mobile-hide search-bar-icon" href="#"><i class="fas fa-search"></i></a>
									</div>
								</li>
							</ul>
						</nav>
						<a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
						<div class="mobile-menu"></div>
						<!-- menu end -->
					</div>
				</div>
			</div>
		</div>
	</div>